<p>
  <strong>Team:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Race:</strong>
  <%= @team.race %>
</p>


 <% if user_signed_in? && current_user.id == @team.user_id %>
 <div>
 <%= link_to 'Edit Team', edit_team_path %>
 </div>
 <% end %>

 <div>
 <%= link_to 'Back to ' + League.find(@team.league_id).name + ' League', league_path(@team.league_id) %>
 </div> 
