<% if user_signed_in? %>
<li class='non-link'>
Logged in as <%= current_user.username %>
</li>

  <li>
  <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>