/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body { padding-top: 70px; }

.non-link {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}


.container-left-padding {
  padding-left: 30px;
}

.players, .teams {

  font-size: 18px;

  th, td {
    padding: 8px;
  }

  th {
      background-color: #4CAF50;
      color: #fdfdfd;
  }

  tr {
    background-color: #f8f8f8
  }

  tr:nth-child(even) {
    background-color: #f0f0f0
  }

  tr:hover {
    background-color: #dddddd
  }
}

//navbar colours
$bgDefault      : #272822;
$bgHighlight    : #eeeeee;
$colDefault     : #ecf0f1;
$colHighlight   : #ffa500;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colDefault; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
    color: $colDefault;
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}